battleship/.idea
battleship/node_modules
battleship/jspm_packages
battleship/npm-debug.log
battleship/debug.log
battleship/src/**/*.js
!battleship/src/systemjs.config.extras.js
!battleship/src/systemjs.config.js
battleship/*.js.map
battleship/e2e/**/*.js
battleship/e2e/**/*.js.map
battleship/_test-output
battleship/_temp
functions/node_modules
public