div#board {
	position: relative;
	width: 300px;
	height: 300px;
	margin: auto;
	/*background: url("content/board.jpg") no-repeat;*/
	background-size: 300px 300px;
}
.hit {
	background: url("../../assets/ship.png") no-repeat center center;
	background-size: 15px 15px;
}
.miss {
	background: url("../../assets/miss.png") no-repeat center center;
	background-size: 15px 15px;
}
table {
	border-spacing: 0px; 
	position: absolute;
	left: 51px;
	top: 34px;
	width: 198px;
	height: 232px;
	background-color: transparent!important;
	border-color: transparent!important;
}
tbody{
	background-color: transparent!important;
	border-color: transparent!important;
}
tr{
	background-color: transparent!important;
    border-color: transparent!important;
}
td {
	width: 15px!important;
	height: 15px!important;
    padding: 0px 0px!important;
    border: 1px solid green;
}