<md-sidenav-layout [class.m2app-dark]="false">
  <md-toolbar color="primary">
    <div [@moveInLeft]="state">
        <h3>Hey {{ user.auth.email }}! welcome to battleship</h3>      
    </div>
    <span class="spacer"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
        <button md-menu-item (click)="logout()"> 
            <md-icon>fingerprint</md-icon>
            <span>Logout</span>
        </button>
    </md-menu>
  </md-toolbar>
  <div class="app-content">
    <div class="flex-container" fxLayout="column" fxLayoutAlign="center center">
        <div class="flex-container" fxLayout="row" fxLayoutAlign="center center" *ngIf="!_battleOnGoing">
            <div class="flex-item" >
                <label>
                    Host a new battle 
                    <button (click)="hostBattle()" md-button>Create</button>
                </label>  <br/>
                <label>
                    Play with AI 
                    <button (click)="createBattle()" md-button>Create</button>  
                </label>
            </div>
            <div class="flex-item" >
                <label>Join a battle</label>
                <md-list class="app-list">
                    <md-list-item *ngFor="let battle of _onGoingBattles | async">
                        <a (click)="joinBattle(battle.$key, battle)">
                            <h3 md-line>{{battle.$key}}</h3>
                            <p md-line class="demo-secondary-text">{{battle.owner.name}}</p>
                        </a>
                    </md-list-item>                   
                </md-list>
            </div>
        </div>
        <div class="flex-container" fxLayout="column" fxLayoutAlign="center center" *ngIf="_battleOnGoing">
            <div class="flex-container" fxLayout="column" fxLayoutAlign="center center">
                <label>{{_message}}</label>
            </div>
            <div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
                <div class="flex-item" *ngIf="_hostedBattle">
                    <md-card>
                        <md-card-content>
                            <board [_ships]="_battle.hostBoats" [_user]="_battle.owner" (boardUpdated)="handleHostFire($event)"></board>
                        </md-card-content>
                        <md-card-actions>
                            <label>Widraw battle </label><button (click)="endBattle()" md-button>End</button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div class="flex-item">
                    <md-card>
                        <md-card-content>
                            <board [_ships]="_battle.opponentBoats" [_user]="_battle.opponent" (boardUpdated)="handleOponentFire($event)"></board>
                        </md-card-content>
                        <md-card-actions>
                            <label *ngIf="_hostedBattle">Status:{{ _battle.opponent.uid == "" ? "waiting for opponent" : "opponent" + _battle.opponent.name +" online" }}</label>
                            <label *ngIf="!_hostedBattle">Widraw battle </label><button (click)="endBattle()" md-button>End</button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>
        </div>
    </div> 
  </div>
</md-sidenav-layout>